version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      cooldown:
        days: 7
    open-pull-requests-limit: 10
    labels:
      - "maintenance"
      - "dependencies"
    groups:
      general-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*sphinx*"
          - "numpydoc"
          - "pyvista*"
          - "pytest*"
      test-dependencies:
        patterns:
          - "pytest*"
      doc-dependencies:
        patterns:
          - "*sphinx*"
          - "numpydoc"
        exclude-patterns:
          - "nbsphinx"
      pyvista:
        patterns:
          - "pyvista*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      cooldown:
        days: 7
    open-pull-requests-limit: 10